<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>

    <Link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

    <script>
        $(document).ready(function(){
            $('.slider').bxSlider();
        });
    </script>

</head>
<body>
    <h1>메인 페이지 </h1>
    <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

    <div class="slider">
        <div th:each="x : ${list}" class="bxslider">
            <div>
                <a href="#"><img th:src="${x.urlName}"></a>
            </div>
        </div>
    </div>

</body>
</html>
